<form action="/signin" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit">
    <% if(message) { %> 
        <pre><%= message %></pre>
    <% } %>
</form>