<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="css/signup_style.css">
    <title>Sign Up | Mysic</title>
  </head>
  <body>
    <form action="/signup" method="post">
        <div class="signupcontainer">
          <h2>Sign Up</h2>
          <input type="text" placeholder="Username" name="username" required>
          <input type="text" placeholder="Email" name="email" required>
          <input type="password" placeholder="Password" name="password" required>
          <div>
            <button type="submit" class="btn primary white main">Sign Up</button>
            <p class="extra">or<a href="/signin"> Sign In</a></p>
          </div>
          <% if(message) { %>
            <pre><%= message %></pre>
          <% } %>
        </div>
    </form>
  </body>
</html>
