<form action="/signup" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    Email: <input type="text" name="email">
    <input type="submit">
</form>