/* input fields */
  input[type=text], input[type=password] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: var(--gray);
  border-radius: 20px;
  color: var(--primary);
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

/* Add padding to container elements */
.signupcontainer {
  padding: 16px;
  width: 280px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
  padding-bottom: 0px;
}

/*link below*/
.extra {
  text-align: center;
}
